
.container
{
    width: 600px;
    height: 300px;
    padding: 20px;
    position: relative;
    margin: auto;
}

table, td, th 
{  
    border: 1px solid #ddd;
    text-align: center;
    border-collapse: collapse;
   
}
  
table 
{
    width: 100%;
}

  
th, td 
{
    padding: 15px;
}

table td button 
{
border: none;
color: white;
padding: 18px;
text-align: center;
font-size: 11px;
}

#update-button 
{
    background-color: green;
    text-decoration: dotted;
    
}
#delete-button
{
    background-color: red;
    

}

tr:nth-child(even) {
    background-color: beige;
  }

  tr:hover 
  {
    background-color: coral;
  }

.add-user ,.refresh
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.add-user:hover,.refresh:hover
{
    background-color: blueviolet;
}